trigger: none
pool: Vinod_Linux

stages:
  - stage: scanlint
    displayName: scanlinting
    jobs:
      - job : Lint
        displayName: Linting
        steps:
          - task: Bash@3
            inputs:
              targetType: 'inline'
              script: |
                npm install --save-dev --save-exact @biomejs/biome
                npx @biomejs/biome check --write
              workingDirectory: '$(System.DefaultWorkingDirectory)'

      - job : scan
        dependsOn: Lint
        displayName: scanning
        steps:
          - task: Gitleaks@3
            inputs:
              scanlocation: '$(Build.SourcesDirectory)'
              configtype: 'default'
              reportformat: 'csv'
          - task: NodeTool@0
            inputs:
              versionSource: 'spec'
              versionSpec: '17.x'
          - task: Bash@3
            inputs:
              targetType: 'inline'
              script: |
                npm install -g retire
                npm install
                retire --exitwith code 1
